#full-width-two {
    max-width: 1440px;
    min-height: 435px;
    background: #FAFAFA;
    margin: 0px auto;
    
}

#third-block  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    min-height: 370px;
    margin: 0px auto;
    padding-left: 161px;
    padding-right: 196px;
    padding-top: 85px;
    padding-bottom: 86px;
    
    background: #FAFAFA;
}

#third-block #address {
    

     max-width: 254px;
     
    
}

#third-block #address h2 {
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 33px;
}

#third-block #address p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 141px;
}

#third-block #services {

    max-width: 254px;
}

#third-block #services h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 28px;
}

#third-block #services ul {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    text-decoration: none;
}

#third-block #get-in-touch {

    max-width: 122px;
}

#third-block #get-in-touch h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 28px;
}

#third-block #get-in-touch p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
   
}

#third-block #get-in-touch img {
    margin-top: 20px;
    width: 66px;
}

#third-block #we-support {

    max-width: 216px;
}

#third-block #we-support h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 33px;
}

#third-block #we-support img {
    width:216px ;
}

#third-block #container-text {

    min-width: 155px;
}
#third-block #container-text p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

#third-block a{
    text-decoration: none;
}

