#full-width-two {
    max-width: 100%;
    min-height: 435px;
    background: #FAFAFA;
}

#third-block  {
    position: relative;
    max-width: 1440px;
    min-height: 435px;
    margin: 0px auto;
    
    background: #FAFAFA;
}

#third-block #address {
     position: absolute;
     top: 85px;
     left: 166px;
    

     max-width: 254px;
    
}

#third-block #address h2 {
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 33px;
}

#third-block #address p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

#third-block #services {
    position: absolute;
    top: 85px;
    left: 450px;

    max-width: 254px;
}

#third-block #services h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 28px;
}

#third-block #services ul {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

#third-block #get-in-touch {
    position: absolute;
    top: 85px;
    right: 584px;

    max-width: 122px;
}

#third-block #get-in-touch h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 28px;
}

#third-block #get-in-touch p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

#third-block #get-in-touch img {
    margin-top: 20px;
    width: 66px;
}

#third-block #we-support {
    position: absolute;
    top: 85px;
    right: 196px;

    max-width: 216px;
}

#third-block #we-support h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
    margin-bottom: 33px;
}

#third-block #we-support img {
    width:216px ;
}

#third-block #container-text {
    position: absolute;
   bottom: 86px;
   left: 161px;

    min-width: 155px;
}
#third-block #container-text p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

