#sixth-block {
    display: inline-block;
        
    width: 360px;
    height: 170px;
    
    
    
    background: #FFFFFF;
    border-radius: 16px;
}

#sixth-block img{
    width: 132px;
    

    margin-top: 16px;
    margin-left: 16px;
    margin-right: 212px;
    margin-bottom: 10px;
}

#sixth-block p{
    width: 328px;
    height: 60px;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  
    color: #687F8C;
}
#sixth-block #one-button {
    width: 160px;
    height: 32px;

    margin-bottom: 16px;
    margin-left: 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    background: #EAF0F4;
    border-radius: 6px;
}

#sixth-block #second-button{
    

    width: 160px;
    height: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
    background: #40C1A7;
    border-radius: 6px;
}