header{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    min-height: 563px;
    position: relative;
    margin:0px auto 99px;
   
}

header h1{
     max-width: 645px;

     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 80px;
     line-height: 110%;
     color: #212353;
     margin-bottom: 50px;
}

header p {
     max-width: 380px;
     margin-bottom: 50px;

     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 160%;
     color: #4B5D68;
}

header button {
    display: flex;
    align-self: flex-start;
    min-width: 170px;
    min-height: 60px;
    padding: 15px 37px;

    background: #9C69E2;
    border-radius: 50px;
    border: 0px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
}

header div{
     background-image: url(../image/image1\ 1.png);
     width: 885px;
     height: 468px;
     align-self: flex-end;
     position: absolute;
     right: -128px;
     top: 92px;
}